*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'cabinCondensedRegular';
    color: #0E0E0E;
}

.container{
    max-width: 1200px;
    margin: auto;
}

@font-face {
    font-family: 'cabinCondensedRegular';
    src: url(fonts/CabinCondensed-Regular.ttf);
}

@font-face {
    font-family: 'bangers';
    src: url(fonts/bangers.ttf);
}

@font-face {
    font-family: 'passionOneBold';
    src: url(fonts/PassionOne-Bold.ttf);
}

h1{
    font-family: 'bangers';
    font-size: 6.5em;
    color: white;
}

h2{
    font-family: 'passionOneBold';
    font-size: 5.5em;
}

h3{
    font-family: 'passionOneBold';
    font-size: 4.5em;
}

h4{
    font-family: 'passionOneBold';
    font-size: 3.5em;
}

h5{
    font-family: 'passionOneBold';
    font-size: 2.5em;
}

h6{
    font-family: 'passionOneBold';
    font-size: 1.5em;
}

a{
    text-decoration: none;
    color: #0E0E0E;
}

#index-header{
    background: url(img/wall.jpg);
    background-size: cover;
    height: 55vh;
    display: flex;
    flex-direction: column;
}

nav{
    background: #0E0E0E;
}

nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div div a{
    font-family: 'passionOneBold';
    margin-right: 1em;
    color: white;
}

nav div div a:nth-child(-n + 3):hover{
    color: #F0BF1C;
}

nav > div > a img{
    width: 100px;
    height: 100px;
}

#index-header div div h1{
    margin-bottom: 0.3em;
    animation: h1 1s ease-in-out;
}

@keyframes h1{
    from {opacity: 0; transform: translate(0, -100%)}
    to {opacity: 1; transform: none}
}

#index-header > div div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#index-header > div div a{
    font-family: 'passionOneBold';
    color: white;
    background-color: #F0BF1C;
    padding: 1em;
    animation: a 1s ease-in-out;
}

#index-header > div div a:hover{
    background-color: #f0c433;
}

@keyframes a{
    from {opacity: 0; transform: translate(0, 100%)}
    to {opacity: 1; transform: none}
}

#index-section1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    padding: 4em 0 4em 0;
}

#index-section1 > img{
    width: 100%;
    height: auto;
    max-width: 300px;
}

#index-section1 article{
    box-shadow: 4px 4px 12px #727272;
    padding: 0.3em;
    transition: 1s;
    display: flex;
    align-items: center;
}

#index-section1 article a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#index-section1 article:hover{
    transform: scale(1.1);
}

#index-section1 article h5{
    padding: 0.3em 0 0.3em 0;
}

#index-section1 article p{
    text-align: center;
}

#index-section1 article a img{
    width: 100%;
    height: auto;
    max-width: 150px;
    min-height: 150px;
    border-radius: 100%;
    object-fit: cover;
}

#index-section2{
    padding: 4em 0 4em 0;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(2, 1fr);
}

#index-section2 img{
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 300px;
    border: 0.5em solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgba(240,191,28,1) 0%, rgba(249,229,163,1) 100%);
    object-fit: cover;
}

#index-section2 div:nth-child(2){
    position: relative;
}

#index-section2 h2{
    margin-bottom: 0.3em;
}

#index-section2 div:nth-child(2) a{
    position: absolute;
    bottom: 0.3em;
}

#index-section2 div:nth-child(2) a{
    font-family: 'passionOneBold';
    color: white;
    background-color: #F0BF1C;
    padding: 1em;
}

#index-section2 div:nth-child(2) a:hover{
    background-color: #f0c433;
}

#index-section2 span{
    color: #727272;
}

#index-section3{
    display: grid;
    height: 80vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#index-section3 article{
    filter: grayscale(100%);
}

#index-section3 article:nth-child(1){
    background: url(img/foto3.jpg);
    background-size: cover;
    grid-row: 1;
    grid-column: 1/3;
}

#index-section3 article:nth-child(2){
    grid-row: 1/3;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    filter: grayscale(0%);
}

#index-section3 article:nth-child(2) a{
    position: absolute;
    z-index: 1;
}

#index-section3 article:nth-child(2) a:hover + div{
    transform: scale(1.5);
}

#index-section3 article:nth-child(2) div{
    background: url(img/foto2.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 1s;
}

#index-section3 article:nth-child(3){
    background: url(img/foto4.jpg);
    background-size: cover;
    grid-row: 1;
    grid-column: 4/5;
}

#index-section3 article:nth-child(4){
    grid-row: 2;
    grid-column: 1/2;
    overflow: hidden;
    position: relative;
    filter: grayscale(0%);
}

#index-section3 article:nth-child(4) a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#index-section3 article:nth-child(4):hover div{
    transform: scale(1.5);
}

#index-section3 article:nth-child(4) div{
    background: url(img/foto6noche.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 1s;
}

#index-section3 article:nth-child(5){
    background: url(img/foto1.jpg);
    background-size: cover;
    background-position: center;
    grid-row: 2;
    grid-column: 2/3;
}

#index-section3 article:nth-child(6){
    background: url(img/foto5.jpg);
    background-size: cover;
    grid-row: 2;
    grid-column: 4/5;
}

#index-section3 h3{
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1;
}

#index-section3 article:nth-child(2) a{
    font-family: 'passionOneBold';
    color: white;
    background-color: #F0BF1C;
    padding: 1em;
}

#index-section3 article:nth-child(2) a:hover{
    background-color: #f0c433;
}

#index-section4{
    padding: 4em 0 4em 0;
}

#index-section4 h4{
    text-align: center;
    margin-bottom: 0.3em;
}

#index-section4 form{
    text-align: center;
}

#index-section4 form div{
    margin-top: 1em;
    text-align: center;
}

#index-section4 form div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#index-section4 form div input{
    margin-right: 0.3em;
}

#index-section4 form > input:nth-child(1){
    padding: 1em;
    width: 50%;
    font-size: 16px;
}

#index-section4 form input:nth-child(2){
    font-family: 'passionOneBold';
    color: white;
    background-color: #F0BF1C;
    padding: 1.1em;
    margin-left: 0.3em;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

#index-section4 form input:nth-child(2):hover{
    background-color: #f0c433;
}

footer{
    background-color: #727272;
}

footer p{
    text-align: center;
    color: white;
    padding: 4em 0 4em 0;
}

#a-wpp img{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 1;
    transition: 1s;
}

#a-wpp:hover img{
    transform: scale(1.2);
}

#productos-header nav div div a:nth-child(1){
    color: #f0c433;
}

#productos-section{
    padding: 4em 0 4em 0;
}

#productos-section h2{
    text-align: center;
    margin-bottom: 1em;
}

#productos-section > div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

#productos-section article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

#productos-section article img{
    width: 100%;
    height: auto;
    min-height: 300px;
    object-fit: cover;
}

#productos-section > div article div{
    position: relative;
}

#productos-section > div article div h6{
    margin-bottom: 0.3em;
}

#productos-section > div article div p{
    margin-bottom: 0.3em;
}

#productos-section > div article div span{
    font-weight: bolder;
}

#productos-section > div article div a{
    position: absolute;
    bottom: 0.3em;
    display: block;
    font-family: 'passionOneBold';
    color: white;
    background-color: #F0BF1C;
    padding: 1em;
}

#productos-section > div article a:hover{
    background-color: #f0c433;
}

#error404-section1{
    background: url(img/knife.jpg);
    background-position: center;
    background-size: cover;
    background-color: grey;
    background-blend-mode: multiply;
    background-attachment: fixed;
    filter: grayscale(100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#error404-section1 div{
    display: flex;
}

#error404-section1 span{
    color: white;
    font-size: 6.5em;
}

#error404-section2{
    background: url(img/foto3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#error404-section2 a{
    font-family: 'passionOneBold';
    color: white;
    background-color: #F0BF1C;
    padding: 1em;
}

#error404-section2 a:hover{
    background-color: #f0c433;
}



































